.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  padding: 0.775rem;

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1280px;
    height: 42px;
  }

  .text {
    color: rgba(235, 235, 235, 0.9);
    font-weight: 400;
    font-size: 0.975rem;
    letter-spacing: 0.01em;
    margin: 0;

    a {
      color: rgba(235, 235, 235, 0.9);
      text-decoration: underline;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}