.section {
  position: relative;
  width: 100%;
  padding: 120px 24px 160px;
  background: #000;
  overflow: hidden;

  .wrap {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    place-items: center;
  }

  .oneDiv {
    position: relative;
    height: 250px;
    width: 200px;
    background-color: rgb(15, 15, 15);
    transform-style: preserve-3d;
    animation: rot 2s infinite ease;
    border-radius: 20px;
    box-shadow: 0 0 50px 0px, inset 0 0 90px 0px;
    color: white;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    opacity: 0;
    transition: all 0.5s;
    text-align: center;
    padding: 0 10px;
  }

  .oneDiv:hover .text {
    scale: 1.2;
    opacity: 0.7;
  }

  .oneDiv:hover {
    box-shadow: 0 0 50px 0px, inset 5px 5px 20px 0px black;
  }

  @keyframes rot {
    0% {
      transform: rotateX(-15deg) translateY(0px);
    }

    50% {
      transform: rotateX(-15deg) translateY(-10px);
    }

    100% {
      transform: rotateX(-15deg) translateY(0px);
    }
  }
}