.container {
  background: #000000; /* preto puro */
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  z-index: 0; /* fica abaixo do overlay (z-index: 10) */
  color: var(--foreground);
  padding: 2rem;
}