.container {
  background: var(--background);
  display: flex;
  flex-direction: column;
}

.ctaSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  min-height: 50vh;
}